body {
    display: grid;
    grid-template: ".. ..";
    background: url(tictac.png) center/cover fixed;
    transition: background-color 0.3s ease-in-out;
    align-items: center;
    background-attachment: fixed;
    background-size: 100% 100%; /* Set background size to cover the entire viewport */
  }
  
  
  button {
    background: transparent;
    animation: glow 2s infinite;
    color: white;
    font-size: px;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border-image: linear-gradient(to right, #EBC1EE, #605399);
    font-weight: 1000;
    margin-top: -14px;
    margin-bottom: 150px;
    margin-left: 100px;
}
  
  
  
  td {
    border: 2px solid;
    height: 120px;
    width: 120px;
    text-align: center;
    vertical-align: middle;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 60px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
    animation: glow 2s infinite;
  }
  
  
  table {
    border-collapse: collapse;
    position: static;
    top: 20px;
    height: 50px;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  table tr:first-child td {
    height: 100px;
    border-radius: 10px;
    border-top: 0;
    transition: background-color 0.3s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
    animation: glow 2s infinite;
  }
  
  table tr:last-child td {
    border-bottom: 0;
  }
  
  table tr td:first-child {
    height: 100px;
    border-radius: 10px;
    border-left: 0;
    transition: background-color 0.3s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
    animation: glow 2s infinite;
  }
  
  table tr td:last-child {
    border-right: 0;
    height: 50px;
    border-radius: 10px;
  }
  
  .cell{
      height: 100px;
      border-radius: 10px;
      width: 100px;
  }
  .endgame {
    display: none;
    width: 200px;
    top: 120px;
    background-color: #9d96b8;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
  
  }
  h4 {
    color: white;
    font-size: 75px;
    margin-top: -74px;
}
  h3 {
      color: white;
      font-size: 55px;
  }
  select {
      background: #2c3372cf;
      animation: glow 2s infinite;
      border-radius: 10px;
      color: #ffffff;
      width: 211px;
      height: 63px;
      border-image: linear-gradient(to right, #EBC1EE, #605399);
      font-weight: 900;
      margin-left: 110px;
      font-size: x-large;
  }
  h1 {
      color: white;
      font-size: 70px;
  }
  
  
  @keyframes glow {
      0% {
        box-shadow: 0 0 5px #3498db, 0 0 20px #3498db; /* Initial shadow values */
      }
      50% {
        box-shadow: 0 0 20px #DB00B6, 0 0 30px #3498db; /* Intermediate shadow values */
      }
      100% {
        box-shadow: 0 0 5px #DB00B6, 0 0 20px DB00B6; /* Final shadow values */
      }
    }