body {
    grid-template:
        " ..";
    display: grid;
    height: 100vh;
    margin: 0;
    background: url('tictac.png') center/cover;
    transition: background-color 0.3s ease-in-out;
    align-items: center;
    justify-content: center; /* Center the content horizontally */
}

.container {
    text-align: center;
    width: 555px;
    height: 320px;
    padding: 10px;
    /* border: 2px solid; */
    border-image: linear-gradient(to right, #EBC1EE, #605399);
    border-image-slice: 1;
    border-radius: 9px;
    transition: background-color 0.3s ease-in-out;
    animation: glow 2s infinite;
    margin-left: 450px;
    margin-right: 400px;
    margin-bottom: 100px;
  }
button {
  background: transparent;
  animation: glow 2s infinite;
  color: white;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  font-size: 16px;
  border-image: linear-gradient(to right, #EBC1EE, #605399);
  font-weight: 1000;
  margin-top: 38px;
}

h2 {
    color: white;
    font-size: xx-large;
}
  @keyframes glow {
    0% {
      box-shadow: 0 0 5px #3498db, 0 0 20px #3498db; /* Initial shadow values */
    }
    50% {
      box-shadow: 0 0 20px #DB00B6, 0 0 30px #3498db; /* Intermediate shadow values */
    }
    100% {
      box-shadow: 0 0 5px #DB00B6, 0 0 20px DB00B6; /* Final shadow values */
    }
  }